{% extends "metis-layout-4.html" %}

{% block pageTitle %}
Metis - Home Office
{% endblock %}

{% set serviceName %}
    Metis
{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l" style="margin-bottom: 30px;padding-right: 70px;padding-top: 0px;">Contact details</h2>

      <div style="background-color: #f3f2f1;padding: 1rem;">
           <div style="background: none;padding: 0;margin-bottom: 0;">
              <p style="margin-bottom: 0px;color: #000000;"><strong>Career Transition Service</strong>
                <br> 
                <br>
                Employees should contact the inbox if they are entering a transformation or <br>have a query regarding the RRR policy.
                <br>
                <br>
                Email for enquiries:
                <br>
                <a href="#0" style="color: #1d70b8;">CareerTransformationInbox@HomeOffice.gov.uk</a>
                <br>
                <br>
                Telephone number:
                <br>
                01234567890
              </p>
          </div>
      </div>

      <br>
      <br>

      <form action="page_1.html">
        <div class="govuk-button-group">
          <!--<button class="govuk-button govuk-button--secondary" data-module="govuk-button">Return to Get Help page</button>
          &nbsp;&nbsp;-->
          <a class="govuk-link" href="page_1.html" style="color: #1d70b8">Return to Get Help page</a>
        </div>
      </form>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <!--
      <div class="govuk-button-group">
        <a href="" onclick='myFunction()' id="link" style="text-decoration: none;"><button class="govuk-button" data-module="govuk-button" style="display:flex;vertical-align:middle;">Continue</button></a>
        &nbsp;&nbsp;
        <a class="govuk-link" href="#0" style="color: #1d70b8;display:flex;vertical-align:middle;">Cancel</a>
      </div>
      -->

      <br>
      <br>
      <br>
      <br>

  </div>
</div>


<script>
  function myFunction() {
 
      if(document.getElementById('option1').checked) {
          document.getElementById('link').href = "page_3.html";
      }
      if(document.getElementById('option2').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option3').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option4').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option5').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option6').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option7').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option8').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option9').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option10').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option11').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option12').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option13').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option14').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option15').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option16').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option17').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option18').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option19').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option20').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option21').checked) {
          document.getElementById('link').href = "#0";
      }
      if(document.getElementById('option22').checked) {
          document.getElementById('link').href = "#0";
      }
  }
</script>



{% endblock %}
