<div id="metis-main-menu__overlay" class="metis-main-menu__overlay metis-main-menu--hidden"></div>

<nav id="metis-main-menu__container" class="metis-main-menu__container metis-main-menu__container--hidden">
  <div class="metis-main-menu__inner-container" class="metis-main-menu__inner-container">

    <h1 class="govuk-heading-m">
      <a href="#" onclick="return false;">Profile/Settings</a>
    </h1>

    <div id="metis-main-menu__close-button" class="metis-main-menu__close-button">
      <a href="#" onclick="return false;">
        <svg width=" 24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
            fill="#505A5F" />
        </svg>
      </a>
    </div>

    <div class="metis-main-menu__links">
        <h2 class="govuk-heading-s">My shortcuts</h2>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Add</a>
    </div>

    <div class="metis-main-menu__links">
      <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Guidance and requests</a>
      <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Get help</a>
      <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Find someone</a>
    </div>

    <div class="metis-main-menu__links">
        <h2 class="govuk-heading-s">My information</h2>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Pay</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Leave and absences</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Expenses</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Overtime</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Personal information</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Employee dashboard</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">My tasks</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">My requests</a>
    </div>

    <div class="metis-main-menu__links">
        <h2 class="govuk-heading-s">My team</h2>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Team leave and absences</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Team expenses</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Team overtime</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Arrival confirmation</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Team end dates</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Loans and secondment</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Team working pattern changes</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Annualised working hours</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Position management</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Line manager dashboard</a>
    </div>

    <div class="metis-main-menu__links">
        <h2 class="govuk-heading-s">Procurement</h2>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Purchase requisitions</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Suppliers</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Receipts</a>
    </div>

    <div class="metis-main-menu__links">
        <h2 class="govuk-heading-s">Tools</h2>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Import and export files</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Schedule processes</a>
    </div>

    <div class="metis-main-menu__links">
        <h2 class="govuk-heading-s">Reports and analytics</h2>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Transactional reporting</a>
        <a href="#" onclick="return false;" class="govuk-link govuk-link--no-visited-state">Reporting and analytics centre</a>
    </div>
  </div>
</nav>