{% extends "metis-layout.html" %}

{% block pageTitle %}
Metis - Home Office
{% endblock %}

{% set serviceName %}
    Metis
{% endset%}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
            <!-- <a href="#" class="govuk-link govuk-link--no-visited-state">Jack Daniels</a> -->
            <!-- Trigger/Open The Modal -->
            <button id="faux-link" class="govuk-heading-l govuk-!-margin-bottom-0">Jack Daniels</button>
        </h1>

        <!-- The Modal -->
        <div id="my-modal" class="modal">
        <!-- Modal content -->
            <div class="modal-content govuk-!-padding-4">
                <span class="close">&times;</span>
                <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Business unit</dt>
                        <dd class="govuk-summary-list__value">Home Office</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Grade</dt>
                        <dd class="govuk-summary-list__value">G6</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">User person type</dt>
                        <dd class="govuk-summary-list__value">Permanent</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Metis number</dt>
                        <dd class="govuk-summary-list__value">123456</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Roles</dt>
                        <dd class="govuk-summary-list__value">MTS Employee, MTS Line Manager</dd>
                    </div>
                    <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Close</button>
                </dl>
            </div>
        </div>

        <div class="my-details govuk-!-margin-bottom-6">
            <p class="metis-number govuk-body-s">Metis number: 123456</p>
            <p class="personalise-link govuk-body-s"><a href="personalise-page" class="govuk-link govuk-link--no-visited-state">Personalise this page</a></p>
        </div>

        {% for personalise in data["personalise"] %}
        
        {% if (personalise == "my-tasks") %}
        <div class="card govuk-!-padding-4 govuk-!-margin-bottom-6">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h1 class="govuk-heading-m">My tasks</h1>
            <div class="govuk-tabs govuk-!-margin-bottom-0" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">Contents</h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#all-tasks">All (32)</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#my-team">My team (20)</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#created-me">Created by me (12)</a>
                    </li>
                </ul>
                <div class="govuk-tabs__panel" id="all-tasks">
                    <h2 class="govuk-heading-s">All (32)</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Date</th>
                                <th scope="col" class="govuk-table__header">Task</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">14 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Renew Jason Smith's security clearance</a></strong></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Urgent</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">12 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Confirm order 467499 receipt</a></strong></td>
                                <td class="govuk-table__cell">&nbsp;</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">9 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Review Ruby Taylor's expenses</a></td>
                                <td class="govuk-table__cell">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all tasks</a></p>
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="my-team">
                    <h2 class="govuk-heading-s">My team (20)</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Date</th>
                                <th scope="col" class="govuk-table__header">Task</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">14 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Renew Jason Smith's security clearance</a></strong></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Urgent</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">13 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Approve Susan Fielding's goals</a></strong></td>
                                <td class="govuk-table__cell">&nbsp;</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">9 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Review Ruby Taylor's expenses</a></td>
                                <td class="govuk-table__cell">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all team tasks</a></p>
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="created-me">
                    <h2 class="govuk-heading-s">Created by me (12)</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Date</th>
                                <th scope="col" class="govuk-table__header">Task</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">16 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Annual leave request</a></strong></td>
                                <td class="govuk-table__cell">&nbsp;</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">13 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Expenses report</a></td>
                                <td class="govuk-table__cell">&nbsp;</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">12 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Draft goals</a></strong></td>
                                <td class="govuk-table__cell">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all tasks created by me</a></p>
                </div>    
            </div>
        </div>
        {% endif %}
        
        {% if (personalise == "track-my-requests") %}
        <div class="card govuk-!-padding-4 govuk-!-margin-bottom-6">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h1 class="govuk-heading-m">Track my requests</h1>
            <div class="govuk-tabs govuk-!-margin-bottom-0" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">Contents</h2>
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#my-requests">My requests (6)</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#created-others">Created by others (5)</a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#process-sense">ProcessSense (4)</a>
                    </li>
                </ul>
                <div class="govuk-tabs__panel" id="my-requests">
                    <h2 class="govuk-heading-s">My requests (6)</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Date</th>
                                <th scope="col" class="govuk-table__header">Task</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">13 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Metis user access: add or remove roles</a></strong></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Action required</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">12 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Contingent worker hire request</a></strong></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Closed</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">9 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">MFF500 cost centre change</a></strong></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Awaiting approval</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all my requests</a></p>
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="created-others">
                    <h2 class="govuk-heading-s">Created by others (5)</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Date</th>
                                <th scope="col" class="govuk-table__header">Task</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">14 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Convert worker type for Jack Daniels</a></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Awaiting approval</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">13 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Training and development apprenticeship for Jack Daniels</a></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Closed</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">12 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Annualised hours allowance changes for Jack Daniels</a></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Closed</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all requests created by others</a></p>
                </div>
                <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="process-sense">
                    <h2 class="govuk-heading-s">ProcessSense (4)</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Date</th>
                                <th scope="col" class="govuk-table__header">Task</th>
                                <th scope="col" class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">16 Sep 22</td>
                                <td class="govuk-table__cell"><strong><a href="#" class="govuk-link govuk-link--no-visited-state">Non-PO payment request</a></strong></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Action required</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">13 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">Performance reward request for Jason Smith</a></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Awaiting approval</strong></td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">13 Sep 22</td>
                                <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">SCS conflicts of interest declaration</a></td>
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Closed</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View all ProcessSense requests</a></p>
                </div>    
            </div>
        </div> 
        {% endif %} 

        {% endfor %}     
    </div>
</div>

<div class="govuk-grid-row">
    {% for personalise in data["personalise"] %}

    {% if (personalise == "annual-leave") %}
    <div class="govuk-grid-column-one-half">   
        <div class="card info-card govuk-!-padding-4 govuk-!-margin-bottom-6">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m">Annual leave</h3>
            <p class="govuk-body govuk-!-font-size-27 grey-text">6 days (44.4 hours) remaining</p>
            <p class="govuk-body govuk-!-margin-bottom-2"><a href="#" class="govuk-link govuk-link--no-visited-state">Request leave</a></p>
        </div> 
    </div> 
    {% endif %}

    {% if (personalise == "pay") %}
    <div class="govuk-grid-column-one-half">
        <div class="card info-card govuk-!-padding-4 govuk-!-margin-bottom-6">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m">Pay</h3>
            <p class="govuk-body govuk-!-font-size-27 grey-text">£1604.37</p>
            <p class="govuk-body">Sent to your bank account on 29 July 2022</p>
            <p class="govuk-body govuk-!-margin-bottom-2"><a href="#" class="govuk-link govuk-link--no-visited-state">View payslip</a></p>
        </div>   
    </div>
    {% endif %}
    
    {% if (personalise == "team-absences") %}
    <div class="govuk-grid-column-one-half">
        <div class="card info-card govuk-!-padding-4 govuk-!-margin-bottom-6">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m">Team absences</h3>
            <p class="govuk-body govuk-!-font-size-27 grey-text">2 open sickness absences</p>
            <p class="govuk-body govuk-!-margin-bottom-2"><a href="#" class="govuk-link govuk-link--no-visited-state">Manage absences</a></p>
        </div>
    </div>
    {% endif %}

    {% if (personalise == "team-performance-rewards") %}
    <div class="govuk-grid-column-one-half">
        <div class="card info-card govuk-!-padding-4 govuk-!-margin-bottom-6">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m">Team performance rewards</h3>
            <p class="govuk-body govuk-!-font-size-27 grey-text">2 months since last reward</p>
            <p class="govuk-body govuk-!-margin-bottom-2"><a href="#" class="govuk-link govuk-link--no-visited-state">Submit rewards</a></p>
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div> 

{% for personalise in data["personalise"] %}
{% if (personalise == "find-someone") %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="card govuk-!-padding-4 govuk-!-margin-bottom-6" id="find-someone">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m">Find someone</h3>
            <p class="govuk-body">View contact information and team details.</p>
            <div class="govuk-form-group govuk-!-margin-bottom-2">
                <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="enter-name">Enter name</label>
                </h3>
                <input class="govuk-input" id="enter-name" name="enter-name" type="text">
            </div>
        </div>
    </div>
</div> 
{% endif %}
{% endfor %} 

{% for personalise in data["personalise"] %}
{% if (personalise == "get-help") %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="card govuk-!-padding-4 govuk-!-margin-bottom-6" id="get-help">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m"><a href="#" class="govuk-link govuk-link--no-visited-state">Get help</a></h3>
            <p class="govuk-body govuk-!-margin-bottom-2">Support for HR, finance and Metis issues.</p>
        </div>
    </div>
</div>  
{% endif %}
{% endfor %} 

{% for personalise in data["personalise"] %}
{% if (personalise == "guidance") %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
        <div class="card govuk-!-padding-4 govuk-!-margin-bottom-6" id="guidance">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m">Guidance</h3>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <div class="card small-card govuk-!-padding-4 govuk-!-margin-bottom-6">
                        <h4 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Human resources</a></h4>
                        <p class="govuk-body govuk-!-margin-bottom-2">Includes leave, sickness and pay.</p>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="card small-card govuk-!-padding-4 govuk-!-margin-bottom-6">
                        <h4 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Finance</a></h4>
                        <p class="govuk-body govuk-!-margin-bottom-2">Includes travel and expenses.</p>
                    </div>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="card small-card govuk-!-padding-4 govuk-!-margin-bottom-6">
                        <h4 class="govuk-heading-s"><a href="#" class="govuk-link govuk-link--no-visited-state">Procurement</a></h4>
                        <p class="govuk-body govuk-!-margin-bottom-2">Includes buying goods and services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endif %}
{% endfor %} 

{% for personalise in data["personalise"] %}
{% if (personalise == "news") %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="card govuk-!-padding-4 govuk-!-margin-bottom-6" id="news">
            <a href="#"><img src="/public/images/ico-overflow-v.svg" alt="more menu" class="more-menu" /></a>
            <h3 class="govuk-heading-m">News</h3>
            <p class="govuk-body govuk-!-margin-bottom-2">TBC</p>
        </div>
    </div>
</div>  
{% endif %}
{% endfor %} 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">alpha</strong>
                <span class="govuk-phase-banner__text">This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>
    </div>
</div>  
<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="back-top">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
                <img src="/public/images/ico-arrow-up-alt.svg" alt="" class="back-top-icon" />Back to top</a>
        </div>
    </div>
</div> -->
{% endblock %}
