{% extends "metis-layout.html" %}

{% block pageTitle %}
Personalise your homepage - Metis - Home Office
{% endblock %}

{% set serviceName %}
    Metis
{% endset%}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="index" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Personalise your homepage</h1>
                    </legend>
                    <div id="personalise-hint" class="govuk-hint">Select the sections you want to see.</div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise" name="personalise" type="checkbox" value="my-tasks" {{ checked("personalise", "my-tasks") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise">My tasks</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise" name="personalise" type="checkbox" value="track-my-requests" {{ checked("personalise", "track-my-requests") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise">Track my requests</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-3" name="personalise" type="checkbox" value="annual-leave" {{ checked("personalise", "annual-leave") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-3">Annual leave</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-4" name="personalise" type="checkbox" value="pay" {{ checked("personalise", "pay") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-4">Pay</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-5" name="personalise" type="checkbox" value="expenses" {{ checked("personalise", "expenses") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-5">Expenses</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-6" name="personalise" type="checkbox" value="learning" {{ checked("personalise", "learning") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-6">Learning</label>
                        </div>
                        
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-7" name="personalise" type="checkbox" value="find-someone" {{ checked("personalise", "find-someone") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-7">Find someone</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-8" name="personalise" type="checkbox" value="get-help" {{ checked("personalise", "get-help") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-8">Get help</label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-9" name="personalise" type="checkbox" value="guidance" {{ checked("personalise", "guidance") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-9">Guidance</label>
                        </div> 
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="personalise-10" name="personalise" type="checkbox" value="metis-alerts" {{ checked("personalise", "metis-alerts") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="personalise-10">Metis alerts</label>
                        </div> 
                    </div>
                </fieldset>
                <div class="govuk-button-group govuk-!-margin-top-4">
                    <button class="govuk-button" data-module="govuk-button">Save and return</button>
                    <a class="govuk-link" href="index">Cancel</a>
                </div>
            </div>
        </form>
        <h2 class="govuk-heading-m govuk-!-margin-top-7">Help with personalisation</h2>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="#">Creating shortcuts</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Hiding personal information</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Reordering your homepage</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Take a guided tour of Metis</a>
            </li>
          </ul>
    </div>
</div>  
{% endblock %}
