{% extends "metis-layout-landingpage_header_b.html" %}

{% block pageTitle %}
Metis - Home Office
{% endblock %}

{% set serviceName %}
    Metis
{% endset%}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div style="background-color: #FFEFCB;border-left: 8px solid #F3AB34;padding: 1rem;">
             <div style="background: none;padding: 0;margin-bottom: 0;">
                <p style="margin-bottom: 0px;"><strong>Metis system announcements</strong><br>Metis will be unavailable on the weekend of 3-4 June, between 11pm and 7am.</p>
            </div>
        </div>

        <div class="govuk-tabs" data-module="govuk-tabs" style="margin-top: 30px;margin-bottom: 20px;">

          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day">
                Me
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
                My team
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-month">
                Professional ???
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-year">
                Admisnistrator ???
              </a>
            </li>
          </ul>

          <div class="govuk-tabs__panel" id="past-day" style="border: 1px solid #b1b4b6; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">

            <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Me</h2>
            
          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week" style="border: 1px solid #b1b4b6; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">

            <h2 class="govuk-heading-m" style="margin-bottom: 10px;">My team</h2>
            
          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month" style="border: 1px solid #b1b4b6; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">

            <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Professional</h2>
            
          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year" style="border: 1px solid #b1b4b6; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">
            
            <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Administrator</h2>

        
          </div>

        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
</div>






{% endblock %}
