{% extends "layout.html" %}

{% block pageTitle %}
Metis fusion prototype - Home Office
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">Metis fusion prototypes</h1>

        <h2 class="govuk-heading-m">Get support</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/get_support/page_1.html">Metis get support</a></li>
        </ul>

        <br>

        <h2 class="govuk-heading-m">Landing page (updated version)</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="v1/landingpage.html">Metis landing page for employee  </a></li>
            <li><a href="v1/landingpage_header_a.html">Metis header concept A</a></li>
            <li><a href="v1/landingpage_header_b.html">Metis header concept B</a></li>
            <li><a href="v1/landingpage_header_c.html">Metis header concept C</a></li>
        </ul>

        <br>

        <h2 class="govuk-heading-m">Landing page (original designs from previous designer)</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/prototype-start">Metis landing page (Line Manager)</a></li>
            <li><a href="/prototype-start-notification">Metis landing page (Line Manager) - Notification banner example</a></li>
            <li><a href="/prototype-start-general">Metis landing page (General user)</a></li>
            <li><a href="/prototype-start-general-notification">Metis landing page (General user) - Notification banner example</a></li>
      	</ul>

        <br>
        <br>
        <br>



    </div>
</div>
{% endblock %}
